# Python
__pycache__/
*.pyc
*.pyo
*.pyd
*.bak

# Dist and build
dist/

# Environment and config
*.env
config.env

# Runtime files
assets/enabled_sections.json

# Calibre database
assets/calibre-library/

# Logs
*.log

# OS
.DS_Store
Thumbs.db

# Temp files
*.tmp
