# Copy this file to config.env and fill in your values
WIFI_SSID="xPrep"
WIFI_INTERFACE="wlan0"
PORTAL_IP="55.55.55.55"
PORTAL_CIDR="24"
DHCP_RANGE_START="55.55.55.20"
DHCP_RANGE_END="55.55.55.100"
DHCP_LEASE="24h"
WIFI_CHANNEL="6"
WEB_ROOT="/var/www/html"
LIBRARY_DIR="/var/www/html/library"
VIDEOS_DIR="/var/www/html/videos"
VERSION=1.2.0
WIFI_PASSWORD="your_password_here"
